@import '../../commons/variables.scss';

.notepad {
  display: $display;
  flex-flow: $flex-flow--column;
  align-items: $align-items--center;

  &__title {
    color: $color-font--white;
    font-size: 30px;
    text-align: $text-align--center;
    font-weight: $font-weight--bold;
    padding-bottom: 30px;
  }

  &__textarea {
    width: 1000px;
    max-width: 100%;
    min-width: 300px;
    height: 400px;
    border-radius: $border-radius;
    outline: none;
    padding: 20px;
    font-size: $button-font-size;
  }
}