*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

body {
  font-family: -apple-system, Roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 14px;
}

img,
svg {
  max-width: 100%;
  height: auto;
  display: block;
}

a,
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}
